# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
